include LICENSE
include README.md
recursive-include data/testdata_mapgis *.WL *.WP *.WT *.md
recursive-include tests *.py
prune tests/results
global-exclude *.pyc
global-exclude __pycache__
recursive-include docs *.md *.svg
